# Database Oracle - Desarrollo / Default
DB_ORACLE=Data\ Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=tcp)(HOST=SRVDBDESA.policia.gov.co)(PORT=1521)))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=TELEPOL_TEST)));User\ ID=USR_DEV_TEST;Password=

# Database Oracle - Producción COEST
DB_COEST=Data\ Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=tcp)(HOST=scan-cludbadm3.policia.gov.co)(PORT=1538)))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=TELEPOL_WLGENERAL)));User\ ID=USR_COEST;Password=
