# Database Oracle Connection (replace with your actual connection)
DB_ORACLE=Data\ Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=tcp)(HOST=SRVDBDESA.policia.gov.co)(PORT=1521)))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=TELEPOL_TEST)));User\ ID=USR_DEV_TEST;Password=Policia2027*+
