# =====================
# FRONTEND (Angular)
# =====================
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/
frontend/node_modules/
frontend/.angular/
frontend/coverage/
frontend/typings/
frontend/publish/
frontend/*.tar.gz
frontend/.sass-cache/
frontend/connect.lock
frontend/libpeerconnection.log
frontend/testem.log

# =====================
# BACKEND (.NET 8)
# =====================
backend/oftic/oftic/bin/
backend/oftic/oftic/obj/
backend/oftic/oftic.bl/bin/
backend/oftic/oftic.bl/obj/
backend/oftic/oftic.cl/bin/
backend/oftic/oftic.cl/obj/
backend/oftic/oftic.dl/bin/
backend/oftic/oftic.dl/obj/
backend/oftic/oftic.sl/bin/
backend/oftic/oftic.sl/obj/
backend/**/*.user
backend/**/*.suo
backend/**/.vs/
backend/**/uploads/
backend/**/appsettings.Development.json

# =====================
# IDEs y editores
# =====================
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# =====================
# Logs y temporales
# =====================
*.log
npm-debug.log
yarn-error.log

# =====================
# Sistema operativo
# =====================
.DS_Store
Thumbs.db