<aside class="sidebar" [class.open]="isOpen()" (click)="$event.stopPropagation()">
  <div class="sidebar-content">
    <div class="sidebar-header">
      <a href="#" class="header-brand-link">
        <div class="logo-icon">
          <img src="/imagenes/oftic-logo-app.png" alt="Sistema de gestión de Secretaría General" class="header-logo-img">
        </div>
        <span class="logo-name">OFTIC</span>
      </a>

      <button class="btn-close" type="button" (click)="closeSidebar()" aria-label="Cerrar menú">✕</button>
    </div>

    <nav class="sidebar-scroll">
      <div class="sidebar-nav">
        @for (item of menuItems; track item.label) {
          <div class="menu-item" [class.expanded]="isExpandedItem(item)">
            <a
              class="menu-link"
              [routerLink]="item.route && !item.submenu ? [item.route] : null"
              (click)="onItemTap(item, $event)"
              routerLinkActive="active">

              <i class="icon" [class]="item.icon"></i>
              <span class="label">{{ item.label }}</span>

              @if (item.submenu) {
                <button type="button" class="arrow-btn" (click)="toggleItem(item, $event)">
                  <i class="arrow fa-solid fa-chevron-down"></i>
                </button>
              }
            </a>

           @if (item.submenu) {
            <div class="submenu"
                 [class.open]="isOpen() && isExpandedItem(item)"
                 [ngStyle]="(isOpen() && isExpandedItem(item)) ? getSubmenuStyle() : null">
              @for (subItem of item.submenu; track subItem.label) {
                <a [routerLink]="[subItem.route]" class="submenu-item" (click)="onNavigate()">
                  {{ subItem.label }}
                </a>
              }
            </div>
          }
          </div>
        }
      </div>
    </nav>
  </div>
</aside>
